<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8f65927e-6766-4397-ba57-703b97041712" name="Weather Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8f65927e-6766-4397-ba57-703b97041712fileName">Weather-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="5032bcc7-7a88-465d-b2bb-2e3dc145b570">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="627d9bc6-8c74-4d91-a0ce-b98305678a04">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
