<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6f86fd0d-0f05-4659-b697-9d16f0f98a6b" name="Sams Suite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6f86fd0d-0f05-4659-b697-9d16f0f98a6bfileName">Sams-Suite-2</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
